img {
    height: 4em;
}
h1 {
   display: inline;  
}
nav li {
   display:inline-block;   
}
nav li a {
   text-decoration: none;   
}
div {
   font-family: 'Courier New', Courier, monospace;
}
span {
   color:#0000FF   
}
